{% extends 'article/base.html.twig' %}

{% block title %}
  Gestion des evenements
{% endblock %}

{% block body %}
<nav class="gerer flex">
  <h1 class="gerer-title">
    Gestion des evements
  </h1>
  <a href="{{ path('app_event_new') }}" title="Ajouter Article"><i class="fa-solid fa-plus"></i></a>
</nav>
<div class="card-flex flex gap-5">
{% for event in events %}
  <div class="card event">
  <h5 class="card-header">{{ event.title }}</h5>
  <div class="card-body">
    {# <h5 class="card-title">Special title treatment</h5> #}
    {% if event.startDate is not empty %}
      <p class="card-text">Date debut: {{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</p>
    {% endif %}
    {% if event.endDate is not empty %}
      <p class="card-text">Date fin:  {{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</p>
    {% endif %}
    <div class="flex">
    <a href="{{ path('app_event_show', { id: event.id }) }}" class="btn btn-primary">Voir plus</a>
    <a href="{{ path('app_event_edit', { id: event.id }) }}" class="btn btn-primary">Modifier</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
