<aside class="dashboard">
<h1>Administration de l'Application</h1>
  <ul class="dashboard-menu flex">
    <ul class="flex gap-10 flex-1">
      <li class="flex-1"><a href="{{ path('app_article_index') }}"><i class="fa-solid fa-newspaper"></i> Gestion des articles</a></li>
      <li class="flex-1"><a href="{{ path('app_event_index') }}"><i class="fa-regular fa-calendar-days"></i>Gestion des Evénements</a></li>
      <li class="flex-1"><a href="{{ path('app_member_index') }}"><i class="fa-regular fa-calendar-days"></i>Gestion des membres</a></li>
    </ul>
    <ul class="flex gap-10 flex-1">
      <li class="flex-1"><a href="{{ path('app_student_book_index') }}"><i class="fa-solid fa-book-open"></i>Gestion des realisations</a></li>
    <li class="flex-1"><a href="{{ path('app_filiere_index') }}"><i class="fa-solid fa-users"></i>Gerer les activités</a></li>
      <li class="flex-1"><a href="{{ path('app_user_index') }}"><i class="fa-solid fa-users"></i>Gerer des utilisateurs</a></li>
    </ul>
  </ul>
</aside>